**Capítulo 1 – Introdução ao Python e Ambiente de Desenvolvimento**

_Este notebook contém todos os códigos de exemplo e soluções para os exercícios do Capítulo 1._

<table align="left">
  <td>
    <a href="https://colab.research.google.com/drive/1GtLfKgSpQmIUT84Rs3AfniCMGR3YlzTR?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Configuração

Este projeto requer Python 3.11 ou superior:

In [26]:
import sys

assert sys.version_info >= (3, 11)

Verifique a versão do Python instalada no Colab:

In [27]:
!python --version

Python 3.11.13

Escrevendo seu Primeiro Código:

In [28]:
print("Olá, Mundo!")

Olá, Mundo!

**Variáveis**

Para criar uma variável em Python, você simplesmente dá um nome a ela e usa o sinal de igual (=) para atribuir um valor.

In [29]:
nome = "Alice"
idade = 30
altura = 1.75
esta_chovendo = False

Inteiros (int): Números inteiros, positivos ou negativos, sem parte decimal.

In [30]:
numero_inteiro = 10
print(numero_inteiro)
print(type(numero_inteiro)) # type() mostra o tipo da variável

10
<class 'int'>

Ponto Flutuante (float): Números com parte decimal.

In [31]:
numero_decimal = 3.14
temperatura = -5.7
print(numero_decimal)
print(type(numero_decimal))
print(temperatura)
print(type(temperatura))

3.14
<class 'float'>
-5.7
<class 'float'>

Strings (str): Sequências de caracteres, usadas para texto. Podem ser definidas com aspas simples (') ou duplas (").

In [32]:
saudacao = "Olá, Python!"
frase = 'Esta é uma string.'
nome_completo = "João da Silva"

print(saudacao)
print(type(saudacao))
print(frase)
print(type(frase))

Olá, Python!
<class 'str'>
Esta é uma string.
<class 'str'>

Você pode até usar aspas triplas para strings que ocupam várias linhas:

In [33]:
paragrafo = """Este é um
parágrafo de
várias linhas."""
print(paragrafo)

Este é um
parágrafo de
várias linhas.

Booleanos (bool): Representam valores lógicos de verdadeiro ou falso. São usados para decisões em seus programas.

In [34]:
eh_verdadeiro = True
eh_falso = False

print(eh_verdadeiro)
print(type(eh_verdadeiro))
print(eh_falso)
print(type(eh_falso))

True
<class 'bool'>
False
<class 'bool'>

Conversão de Tipos (Type Casting)

In [35]:
numero_texto = "123"
numero_inteiro_convertido = int(numero_texto)
print(numero_inteiro_convertido)
print(type(numero_inteiro_convertido))

numero_inteiro = 42
numero_float_convertido = float(numero_inteiro)
print(numero_float_convertido)
print(type(numero_float_convertido))

valor_boolean = True
texto_boolean = str(valor_boolean)
print(texto_boolean)
print(type(texto_boolean))

# Cuidado ao converter para int/float: o texto deve ser numérico
# texto_erro = "abc"
# int(texto_erro) # Isso geraria um erro!

123
<class 'int'>
42.0
<class 'float'>
True
<class 'str'>

**Exercícios do Capítulo 1**

1.	Crie uma variável chamada cidade e atribua a ela o nome da sua cidade natal como uma string. Imprima o valor e o tipo dessa variável.
2.	Crie duas variáveis: idade_cachorro com o valor 5 (inteiro) e peso_cachorro com o valor 12.5 (float). Imprima o valor e o tipo de cada uma.
3.	Converta a variável idade_cachorro para um tipo float e a variável peso_cachorro para um tipo inteiro. Imprima os novos valores e seus tipos.
4.	No Jupyter Notebook, crie uma nova célula e escreva um programa que:
o	Crie uma variável nome_aluno com seu nome.
o	Crie uma variável nota1 com um valor decimal (ex: 8.5).
o	Crie uma variável nota2 com outro valor decimal (ex: 9.0).
o	Calcule a media das duas notas.
o	Imprima uma mensagem formatada como: "Olá, [nome_aluno]! Sua média final é [media]." (Substitua pelos valores das suas variáveis).

Este é o primeiro capítulo do livro! No próximo, vamos explorar os operadores e expressões em Python, que são fundamentais para realizar cálculos e comparações.

Respostas dos Exercícios do Capítulo 1:

In [36]:
# Exercício 1: Crie uma variável chamada cidade
cidade = "Alegrete"
print("Valor da variável 'cidade':", cidade)
print("Tipo da variável 'cidade':", type(cidade))

Valor da variável 'cidade': Alegrete
Tipo da variável 'cidade': <class 'str'>

In [37]:
# Exercício 2: Variáveis de idade e peso do cachorro
idade_cachorro = 5
peso_cachorro = 12.5
print("\nValor da variável 'idade_cachorro':", idade_cachorro)
print("Tipo:", type(idade_cachorro))
print("Valor da variável 'peso_cachorro':", peso_cachorro)
print("Tipo:", type(peso_cachorro))

Valor da variável 'idade_cachorro': 5
Tipo: <class 'int'>
Valor da variável 'peso_cachorro': 12.5
Tipo: <class 'float'>

In [38]:
# Exercício 3: Conversões de tipos
idade_cachorro = float(idade_cachorro)
peso_cachorro = int(peso_cachorro)
print("\nApós conversão:")
print("idade_cachorro (float):", idade_cachorro, "| Tipo:", type(idade_cachorro))
print("peso_cachorro (int):", peso_cachorro, "| Tipo:", type(peso_cachorro))

Após conversão:
idade_cachorro (float): 5.0 | Tipo: <class 'float'>
peso_cachorro (int): 12 | Tipo: <class 'int'>

In [39]:
# Exercício 4: Nome do aluno e cálculo de média
nome_aluno = "Carlos"
nota1 = 8.5
nota2 = 9.0
media = (nota1 + nota2) / 2
print(f"\nOlá, {nome_aluno}! Sua média final é {media:.2f}.")

Olá, Carlos! Sua média final é 8.75.